<template>
  <div>
    <b-container>
      <b-row class="mb-4">
        <b-col>
          <h2>Products</h2>
        </b-col>
      </b-row>
      <b-row>
        <b-col v-for="product in products" :key="product.id" style="color: #fff;">
            <b-card 
            :title="product.name" 
            :img-src="require(`@/assets/product-${product.id}.jpg`)"
            img-alt="Image"
            img-top
            tag="article"
            style='max-width: 20rem'
            class="mb-2 product-box">
            <b-card-text style="color: rgba(126, 136, 146, 0.8);">
              price: {{product.price}}
            </b-card-text>
            <b-button 
              
              @click="add(product); increment(data.item.id)"
              href="#"
              class="custombtn btn-yellow custombtn--animated"
              >
              Add to Cart <b-card-text style="display: inline"> {{product.quantity}}</b-card-text>
            </b-button>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <h2>Shopping Card</h2>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table bordered hover :items="cart" :fields="fields">
            <template v-slot:cell(#)="data" >
              {{ data.index+1 }}
            </template>
            <template v-slot:cell(price)="data">
              {{ data.item.price * data.item.quantity }}
            </template>
            <template  v-slot:cell(remove)="data">
              <b-button
                variant="danger"
                 @click="remove(data.item.id)"
                class="mr-2">
                x
                </b-button>
            </template>
            <template v-slot:cell(quantity)="data">
              <b-row>
                <b-col cols="5"> 
                  <b-button
                  :disabled="data.item.quantity <=1" 
                  variant="primary"
                  @click="decrement(data.item.id)" 
                  class="mr-2">
                  -
                  </b-button>
                </b-col>
                <b-col cols="2">
                  <h4>{{data.item.quantity}}</h4>
                </b-col>
                <b-col cols="5">
                  <b-button
                  variant="primary"
                  @click="increment(data.item.id)"
                  class="mr-2">
                  +
                  </b-button>
                </b-col>
              </b-row>
            </template>
            <template v-slot:cell(image)="data">
              <b-img
              style="max-width: 5rem"
              :src="require(`@/assets/product-${data.item.id}.jpg`)"
              fluid alt="Responsive image"></b-img>
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row v-if="cart.length > 0">
        <b-col></b-col>
        <b-col></b-col>
        <b-col></b-col>
        <b-col></b-col>
        <b-col><h3>Total</h3></b-col>
        <b-col><h3>$ {{total}}.00</h3></b-col>
      </b-row>
      <b-row v-if="cart.length > 0">
        <b-col class="mb-4">
          <b-button @click="clean" variant="info" block class="mr-2">Clean</b-button>
        </b-col>
        <b-col></b-col>
        <b-col class="mb-4">
          <b-button @click="buy" variant="success" block class="mr-2">
            Buy
          </b-button>
        </b-col>
      </b-row>
      <b-modal
      hide-header-close no-close-on-esc 
      no-close-on-backdrop
      ref="modal-1"
      centered 
      title="Purchase Completed">
      <template slot="modal-footer">
        <b-button class="my-3" variant="info" block @click="clean">
          Close
        </b-button>
      </template>
      <p class="my-4">Products:</p>
      <ul v-for="productFinal in ticket.products" :key="productFinal.id">
        <li>
          Product name: {{productFinal.name}}
        </li>
        <li>
          Quantity: {{productFinal.quantity}}
        </li>
        <li>
          Price: {{productFinal.price}}
        </li>
        <li>
          Total: {{productFinal.price * productFinal.quantity}}
        </li>
      </ul>
      <h2 class="my-4">Total: ${{ticket.total}}</h2>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'Store',

data() {
  return {
    ticket: {
      products: null,
      total: 0
    },
    counter: 0,
    products: [
      {
        id: 1,
        img:'@/assets/product-1.jpg',
        name: 'Bottle',
        price: 3,
        cart: false,
        quantity: 1
      },
      {
       id: 2,
        img:'@/assets/product-2.jpg',
        name: 'Eco Bag',
        price: 4,
        cart: false,
        quantity: 1 
      },
      {
        id: 3,
        img:'@/assets/product-3.jpg',
        name: 'Paper Bag',
        price: 5,
        cart: false,
        quantity: 1
      }
    ],
    cart: [],
    fields: ['#', 'remove', 'image', 'name', 'quantity', 'price']
  }
},
methods: {
  add(product) {
    this.products[product.id-1].cart=true
    this.cart.push(product)
    this.counter++
  },
  clean() {
    this.cart=[];
    for (const key in this.products) {
      this.products[key].cart=false
      this.products[key].quantity=1
    }
    this.$refs['modal-1'].hide()

  },
  remove(id) {
    for (let index = 0; index < this.products.length; index++) {
      if (this.products[index].id == id) {
        this.products[index].cart=false
        this.products[index].quantity=1
      }
    }
    for (let index = 0; index < this.cart.length; index++) {
      if (this.cart[index].id == id) {
        this.cart.splice(index, 1)
      }
    }
  },
  buy() {
    this.ticket={
      products: this.cart,
      total: this.total
    }
    this.$refs['modal-1'].show()
  },
  increment(id) {
    for(let index = 0; index < this.cart.length; index++) {
      if(this.cart[index].id == id) {
        this.cart[index].quantity++
      }
    }
  },
  decrement(id) {
    for(let index = 0; index < this.cart.length; index++) {
      if(this.cart[index].id == id) {
        this.cart[index].quantity--
      }
    }
  }
},
  computed: {
    total() {
      let t = 0;
      for(let index = 0; index < this.cart.length; index++) {
        t +=this.cart[index].price*this.cart[index].quantity
      }
      return t
    }
  }
}
</script>
<style scoped>
  .product-box{
    background-color:rgba(15, 37, 60, 0.8);
    font-size:1.5rem;padding:2.5rem;text-align:center;
    border-radius:3px;
    -webkit-box-shadow:0 1.5rem 4rem rgba(0,0,0,0.15);
    box-shadow:0 1.5rem 4rem rgba(0,0,0,0.15);
    -webkit-transition:-webkit-transform .3s;
    transition:-webkit-transform .3s;
    transition:transform .3s;
    transition:transform .3s, -webkit-transform .3s
}
.product-box:hover{
    -webkit-transform:translateY(-1.5rem)
     scale(1.03);transform:translateY(-1.5rem) scale(1.03)
    }
.custombtn:link,
.custombtn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s ;
    position: relative;
}
.custombtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.custombtn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-yellow {
    background-color: #f3ca27;
    color: #51633d;

}
.custombtn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn-yellow::after {
    background-color: #fff;
}
.btn-info::after {
  background-color: #17a2b8;
}
.btn-success::after {
  background-color: #28a745;
}
.custombtn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.custombtn--animated {
    animation: moveBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}    
</style>