<template>
  <div id="app">
    <Store />
  </div>
</template>

<script>
import Store from './components/Store'

export default {
  name: 'app',
  components: {
    Store
  }
}
</script>

<style>
body {
    
    background-image: linear-gradient(
        to right bottom ,
        rgb(248, 249, 250, 0.8),
        rgb(255, 193, 7, 0.8))
        ,url('~@/assets/background.png');;
    background-size: cover;
    background-position: top;
    
    position: relative;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
